.drag-drop {
  font-size: 1rem;
  font-family: HelveticaNeue;
  src: url(/HelveticaNeue.ttf);
}

#drop-region {
  margin: 0.5rem 0 1.25rem 0;
  background-color: #fff;
  width: 26.875rem;
  height: 6.625rem;
  cursor: pointer;
  border-radius: 4px;
  border: dashed 1px #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
}

.drop-message .format {
  font-size: 0.625rem;
  color: #4b4b5a;
  margin-bottom: 5px;
}

.drop-message .steps {
  font-size: 0.875rem;
  color: #000000;
}

.choose-file {
  background: #ededed;
  width: 6.25rem;
  height: 1.5rem;
  text-align: center;
  margin-top: 8px;
}

.choose-file span {
  font-size: 0.75rem;
  color: #000000;
}

.images-container {
  font-size: 0.75rem;
}

#image-preview {
  margin-top: 0.625rem;
  width: 26.875rem;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
}

#image-preview .image-view .foto-producto {
  width: 32px;
  height: 32px;
}

.image-view {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
  /* border: 1px solid; */
}

.image-text-container {
  display: flex;
  align-items: center;
}

.image-text-container .foto-producto {
  margin-right: 0.625rem;
}

.xButton {
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.xButton .icon {
  width: 16px;
  height: 16px;
  border: none;
}
